:root {
    --custom-accent: #ffea00;
    --custom-accent-muted: #ccb700;
    --custom-text-on-accent: #000000;
    --custom-text-muted: #cacaca;
    --custom-text-faint: #909090;
}

/* make links slightly lighter + accented */

.nav-file-title, .nav-folder-title {
    --text-muted: var(--custom-text-muted);
}

.tree-item-self {
    --text-muted: var(--custom-text-muted);
    --interactive-accent: var(--custom-accent-muted);
    --text-on-accent: var(--custom-text-on-accent);
}

/* add an extra highlight accent to the selected file or tag  */

.nav-file-title.is-active {
    border-right: 2px solid var(--custom-accent);
}

/* make the buttons slightly lighter + accented */

.side-dock-ribbon-action {
    --text-faint: var(--custom-text-faint);
    --text-muted: var(--custom-text-muted);
}

.workspace-tab-header {
    --text-faint: var(--custom-text-faint);
    --text-muted: var(--custom-text-muted);
}

.nav-action-button {
    --text-faint: var(--custom-text-faint);
    --text-muted: var(--custom-text-muted);
    --interactive-accent: var(--custom-accent-muted);
    --text-on-accent: var(--custom-text-on-accent);
    --text-accent: var(--custom-accent-muted);
}

/* change flash animation */

.is-flashing {
    transition: background-color 0.6s ease-in-out;
    --text-highlight-bg: var(--custom-accent);
}

.is-flashing * {
    color: black !important;
}

/* change note header to match h1 */

.workspace-leaf-content[data-type="markdown"] .view-header {
    height: 56px;
}

.workspace-leaf-content[data-type="markdown"] .view-header .view-header-title {
    font-size: 38px;
    line-height: 50px;
    font-family: "Futura Md BT", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.workspace-leaf-content[data-type="markdown"] .view-header .view-header-icon {
    padding-top: 17px;
    border-right: 1px solid var(--text-faint);
    margin-right: 6px;
}

/* change tree header */ 

.nav-folder.mod-root > .nav-folder-title .nav-folder-title-content {
    font-size: 22px;
    padding-bottom: 10px;
    font-family: "Futura Md BT", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* add icons to tree */

.nav-folder .nav-folder-title-content::before {
    content: '📂 ';
}

.nav-folder.is-collapsed .nav-folder-title-content::before {
    content: '📁 ';
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder.mod-root > .nav-folder-title .nav-folder-title-content::before {
    content: '🏠 '
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title-content::before {
    content: '📝 '
}

/* special icon example */

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path^="samplepaththatdoesntexist"] .nav-file-title-content::before {
    content: '⚡ ';
}
